@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f9d9c7;
}

.header{
    background-color: #eab08f;
    font-family: 'Josefin Sans';
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 0px 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.logo{
    width: 140px;
    height: 90px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
 .navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
 }

 .navbar li a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    transition: 0.3s ease;
 }

 .navbar li a:hover,
 .navbar li a.active{
    color: azure;
 }

 .navbar li a.active::after,
 .navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: azure;
    position: absolute;
    bottom: -4px;
    left: 20px;
 }








/*FOOTER*/

footer{
    background-color: #eab08f;
    color: #000;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}


/*mapa*/

.mapa {
    margin: 25px 25px;
}
  
.mapa iframe {
    width: 800px;
    height: 450px;
}