@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1e4dc;
}

.header{
    background-color: #f1ded3;
    font-family: 'Josefin Sans';
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 0px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.logo{
    width: 140px;
    height: 70px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
 .navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
 }

 .navbar li a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    transition: 0.3s ease;
 }

 .navbar li a:hover,
 .navbar li a.active{
    color: azure;
 }

 .navbar li a.active::after,
 .navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: azure;
    position: absolute;
    bottom: -4px;
    left: 20px;
 }

/*Categoria*/




/*Productos destacados*/

.card {
    border: none;
    border-radius: 20px;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*Productos*/

.container {
    padding-bottom: 40px;
    padding-top: 30px;
    flex-wrap: wrap;
  }
  
  .products {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .products .product {
    position: relative;
    background-color: #ffffff5c;
    width: 300px;
    height: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 40px;
    border-radius: 10px;
    transition: 0.3s;
  }
  .products .product .inner {
    width: 100%;
    height: 60%;
    display: grid;
    place-items: center;
  }
  .products .product .inner img {
    width: 240px;
  }

  .inner{
    overflow: hidden;
  }

  .inner img{
    transition: all 1.5s ease;
  }

  .inner:hover img{
    transform: scale(1.2);
  }

  .products .product p {
    font-size: 18px;
    line-height: 25px;
  }

  .products .product .compra {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .products .product .compra .button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: rgba(29, 29, 29, 0.8549019608);
    color: #fff;
    font-size: 18px;
  }
 
  .products .name h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #000;
  }

  .products .compra span {
    font-size: 1.5rem;
    color: #d7939e;
    padding-right: 50px;
  }
  
  .btn-agregar-carrito {
    padding: 6px 12px;
    font-size: 14px; 
    background-color: #000;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-agregar-carrito:hover {
    background-color: #eab08f;
}

#botonComprar {
    padding: 8px 16px;
    font-size: 16px;
    background-color: rgb(0, 0, 0); 
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#botonComprar:hover {
    background-color: #eab08f;
}

.hero {
    padding: 40px;
    background-color: #F8FAFA;
    color: #eab08f;
    text-align: center; 
}

.hero p {
    font-size: 20px; 
}


/*FOOTER*/

footer{
    background-color: #eab08f;
    color: #000;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}


/*mapa*/

.mapa {
    margin: 25px 25px;
}
  
.mapa iframe {
    width: 800px;
    height: 450px;
}


/*Login*/

.main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #f1e4dc;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);

}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}
form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 27px;
  margin-right: 0.3rem;
}

.logo h4 {
  font-size: 1.1rem;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: #151111;
}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #151111;
}

.heading h6 {
    color: rgb(121, 121, 121);
    font-weight: 400;
    font-size: 0.75rem;
    display: inline;
}

.toggle {
  color: #151111;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: #eab08f;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: rgb(121, 121, 121);
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: #151111;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #151111;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}


.sign-btn:hover {
  background-color: #eab08f;
}

.text {
  color: rgb(121, 121, 121);
  font-size: 0.7rem;
}

.text a {
  color: rgb(121, 121, 121);
  transition: 0.3s;
}

.text a:hover {
  color:#eab08f;
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode .carousel {
  left: 0;
}

.carousel {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: #eab08f;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fe;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.image {
  margin-top: 70px;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.img-1 {
  transform: translate(0, -50px);
}

.img-2 {
  transform: scale(0.4, 0.5);
}

.img-3 {
  transform: scale(0.3) rotate(-20deg);
}

.image.show {
  opacity: 1;
  transform: none;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

.text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #000;
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.bullets span.active {
  width: 1rem;
  background-color: #151111;
  border-radius: 1rem;
}

@media (max-width:850px) {
  .box {
      height: auto;
      max-width: 550px;
      overflow: hidden;
  }

  .inner-box {
      position: static;
      transform: none;
      width:revert;
      height: revert;
      padding: 2rem;
  }

  .forms-wrap {
      position: revert;
      width:100%;
      height: auto;
  }

  form {
      max-width: revert;
      padding: 1.5rem 2.5rem 2rem;
      transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
      margin: 2rem;
  }

  form.sign-up-form {
      transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
      transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
      transform: translateX(0%);
  }

  .carousel {
      position: revert;
      height: auto;
      width: 100%;
      padding: 2rem 3rem;
      display: flex;
  }

  .images-wrapper {
      display: none;
  }

  .text-slider {
      width: 100%;
  }
}
